O que é Pandas e para que serve?
Pandas é uma biblioteca de Python usada para manipulação e análise de dados. Ela fornece estruturas de dados, como DataFrames e Series, para facilitar a importação, limpeza, transformação e análise de dados.

O que é NumPy e para que serve?
NumPy é uma biblioteca de Python para computação numérica. Ela oferece suporte para arrays e matrizes multidimensionais e funções matemáticas para realizar operações rápidas e eficientes com esses arrays.

O que é Scikit-learn e para que serve?
Scikit-learn é uma biblioteca de Python para aprendizado de máquina. Ela fornece ferramentas e algoritmos para tarefas como classificação, regressão, clustering, e pré-processamento de dados.

Como carregar dados no Pandas?
Para carregar dados no Pandas, use funções como:

In [ ]:
import pandas as pd

# Carregar dados de um arquivo CSV
df = pd.read_csv('caminho/para/seu_arquivo.csv')

# Carregar dados de um arquivo Excel
df = pd.read_excel('caminho/para/seu_arquivo.xlsx')

# Carregar dados de um arquivo JSON
df = pd.read_json('caminho/para/seu_arquivo.json')

Como criar um DataFrame?
Um DataFrame pode ser criado a partir de diferentes fontes. Exemplo com um dicionário:

In [ ]:
import pandas as pd

data = {
    'Coluna1': [1, 2, 3],
    'Coluna2': ['A', 'B', 'C']
}
df = pd.DataFrame(data)

O que são Series na programação?
Series são estruturas de dados unidimensionais no Pandas, semelhantes a vetores ou listas, com rótulos de índice.

Como mostrar um cabeçalho e rodapé?
Para visualizar o cabeçalho e rodapé de um DataFrame:

In [ ]:
# Mostrar as primeiras 5 linhas (cabeçalho)
df.head()

# Mostrar as últimas 5 linhas (rodapé)
df.tail()

Como ver a quantidade de entradas no DataFrame?
Para obter o número de linhas e colunas:

In [ ]:
num_linhas = df.shape[0]
num_colunas = df.shape[1]

Como retornar a quantidade de linhas e colunas no DataFrame?
Utilize o atributo shape:

In [ ]:
num_linhas, num_colunas = df.shape

Quais são as informações do DataFrame?
Para obter um resumo das informações:

In [ ]:
df.info()

Como criar uma tabela no PowerPoint com Python str?

In [4]:
import pandas as pd

# Dados para a tabela
dados = {
    'Categoria': [
        'Números Inteiros',
        'Números de Ponto Flutuante',
        'Texto',
        'Data e Hora',
        'Booleano',
        'Dados Binários',
        'Estruturas Compostas'
    ],
    'Excel': [
        'Número Geral (inteiros)',
        'Número Geral (decimais)',
        'Texto',
        'Data e Hora',
        'Booleano (VERDADEIRO/FALSO)',
        'Não suportado diretamente',
        'Não suportado diretamente'
    ],
    'MySQL': [
        'TINYINT, SMALLINT, MEDIUMINT, INT, BIGINT',
        'FLOAT, DOUBLE',
        'CHAR, VARCHAR, TEXT, MEDIUMTEXT, LONGTEXT',
        'DATE, TIME, DATETIME, TIMESTAMP',
        'BOOLEAN, BIT',
        'BLOB, MEDIUMBLOB, LONGBLOB',
        'Não aplicável'
    ],
    'Pandas': [
        'int',
        'float',
        'object, string',
        'datetime64, timedelta',
        'boolean',
        'object (usando bytes)',
        'DataFrame (tabelas), Series (colunas)'
    ],
    'Python': [
        'int',
        'float',
        'str',
        'datetime.date, datetime.time, datetime.datetime, datetime.timedelta',
        'bool',
        'bytes',
        'list, tuple, set, dict'
    ]
}

# Criação do DataFrame
df = pd.DataFrame(dados)

# Exibição da tabela
df

,Categoria,Excel,MySQL,Pandas,Python
0,Números Inteiros,Número Geral (inteiros),"TINYINT, SMALLINT, MEDIUMINT, INT, BIGINT",int,int
1,Números de Ponto Flutuante,Número Geral (decimais),"FLOAT, DOUBLE",float,float
2,Texto,Texto,"CHAR, VARCHAR, TEXT, MEDIUMTEXT, LONGTEXT","object, string",str
3,Data e Hora,Data e Hora,"DATE, TIME, DATETIME, TIMESTAMP","datetime64, timedelta","datetime.date, datetime.time, datetime.datetim..."
4,Booleano,Booleano (VERDADEIRO/FALSO),"BOOLEAN, BIT",boolean,bool
5,Dados Binários,Não suportado diretamente,"BLOB, MEDIUMBLOB, LONGBLOB",object (usando bytes),bytes
6,Estruturas Compostas,Não suportado diretamente,Não aplicável,"DataFrame (tabelas), Series (colunas)","list, tuple, set, dict"

Como examinar tipos no Pandas?
Para verificar os tipos de dados das colunas:

In [ ]:
df.dtypes

O que é describe na programação?
describe() fornece um resumo estatístico das colunas numéricas de um DataFrame, incluindo contagem, média, desvio padrão, valores mínimo e máximo, e percentis:

In [ ]:
df.describe()

Como acessar apenas uma coluna?
Para acessar uma coluna específica:

In [ ]:
df['Nome_da_Coluna']

Como fatiar um DataFrame?
Para fatiar um DataFrame, utilize a indexação e iloc:

In [ ]:
# Selecionar linhas específicas
df.iloc[0:5]  # Primeiras 5 linhas

# Selecionar linhas e colunas específicas
df.iloc[0:5, 0:2]  # Primeiras 5 linhas e 2 primeiras colunas

O que é IA (Inteligência Artificial)?
IA (Inteligência Artificial) é o campo da ciência da computação dedicado a criar sistemas que realizam tarefas que normalmente requerem inteligência humana, como reconhecimento de fala e tomada de decisão.

O que é Machine Learning (Aprendizado de Máquina)?
Machine Learning é um subcampo da IA que desenvolve algoritmos e modelos que permitem que os sistemas aprendam e façam previsões com base em dados.

O que é Deep Learning (Aprendizado Profundo)?
Deep Learning é uma subárea de Machine Learning que usa redes neurais profundas para modelar e resolver problemas complexos, como reconhecimento de imagem e processamento de linguagem natural.

Quais problemas a IA pode resolver?
IA pode ajudar a resolver problemas em áreas como:

Diagnóstico médico
Reconhecimento de voz e imagem
Tradução automática
Análise preditiva
Automação de processos
Comente sobre funções LOC e ILOC

loc[ ]: Acessa linhas e colunas por rótulos de índice.

In [ ]:
df.loc[0:5, 'Nome_da_Coluna']

iloc[ ]: Acessa linhas e colunas por índices inteiros

In [ ]:
df.iloc[0:5, 0:2]

Como limpar dados NaN (ausentes)?
Para limpar dados ausentes, você pode:

Remover linhas com valores ausentes:

In [ ]:
df.dropna()

Preencher valores ausentes com um valor específico:

In [ ]:
df.fillna(valor)